body{
	font-family: 'Open Sans', sans-serif;
	background-color: whitesmoke;
	font-size: 21px;
}
section{
	padding: 20px 0;
}
.page-title{
	font-family: 'Pacifico', cursive;
	color: indianred;
}

textarea.form-control{
	font-family: monospace;
	height: 100px;
}

.yes{
	color: royalblue;
}

.no{
	color: tomato;
}
.result{
	text-align: center;
}